@use '../../../variables' as *;
@use "sass:color";

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px; 
  z-index: 10;
  background: rgba($dark-bg, 0.85);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}