@use '../../../../_variables' as *;
.calc-box {
  max-width: 600px;
  margin: 0 auto;

  h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 2rem;

    .accent {
      color: $c-red;
    }
  }

  &__form {
    background: $c-panel-bg;
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid $c-border;

    .group {
      margin-bottom: 1.5rem;

      label {
        display: block;
        color: $c-text-muted;
        margin-bottom: 5px;
        font-size: 0.9rem;
      }

      select {
        width: 100%;
        padding: 10px;
        background: $c-input-bg;
        color: $c-text;
        border: 1px solid $c-border;
      }
    }

    .radios {
      display: flex;
      gap: 10px;

      label {
        flex: 1;
        cursor: pointer;

        input {
          display: none;
        }

        span {
          display: block;
          text-align: center;
          padding: 10px;
          border: 1px solid $c-border;
          background: #222;
        }

        input:checked+span {
          background: $c-red;
          color: $c-text;
          border-color: $c-red;
        }
      }
    }

    button {
      width: 100%;
      padding: 1rem;
      background: $c-text;
      border: none;
      font-weight: 900;
      cursor: pointer;

      &:hover:not(:disabled) {
        background: $c-red;
        color: $c-text;
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  &__res {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    background: rgba(225, 6, 0, 0.1);
    padding: 1.5rem;
    border-left: 4px solid $c-red;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;

      span {
        font-size: 0.8rem;
        color: $c-text-muted;
      }

      strong {
        font-size: 1.5rem;
      }

      &.highlight strong {
        color: $c-red;
        font-size: 2rem;
      }
    }

    &.ers {
      align-items: center;

      .battery-vis {
        width: 60px;
        height: 100px;
        border: 3px solid #666;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .level {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: $c-red;
          transition: height 1s;
        }

        .txt {
          position: relative;
          z-index: 2;
          font-weight: bold;
          text-shadow: 0 1px 2px $c-input-bg;
        }
      }

      .stats {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}