@use '../../../../_variables' as *;
.team-layout {
  display: flex;
  min-height: calc(100vh - 160px);
  margin-top: 80px;
  background: $c-dark;

  &__sidebar {
    width: 260px;
    background: $c-sidebar;
    border-right: 1px solid $c-border;
    padding: 2rem;

    &__head {
      margin-bottom: 2rem;

      h3 {
        color: $c-red;
        font-style: italic;
        font-weight: 900;
      }
    }

    &__nav__link {
      display: flex;
      gap: 10px;
      padding: 1rem;
      color: $c-text-muted;
      text-decoration: none;
      border-radius: 6px;
      margin-bottom: 0.5rem;
      transition: 0.3s;

      &:hover,
      &.active {
        background: #222;
        color: $c-text;

        i {
          color: $c-red;
        }
      }
    }
  }

  &__content {
    flex: 1;
    padding: 3rem;
    overflow-y: auto;
  }
}