<section class="teams">
  <h1 class="teams__header">Escuderías <span class="teams__header__accent">2026</span></h1>

  @if (loading) {
    <div class="teams__loader"><div class="teams__loader__spinner"></div></div>
  } @else {
    
    <div class="teams__grid">
      @for (team of teams; track team.id) {
        
        <article class="teams__grid__card">
          
          <div class="teams__grid__card__header">
            <div class="teams__grid__card__header__brand">
              <img [src]="team.logo" [alt]="team.nombre" class="teams__grid__card__header__logo">
              <h2 class="teams__grid__card__header__name">{{ team.nombre }}</h2>
            </div>

            @if (team.twitter) {
              <a [href]="'https://x.com/' + team.twitter" target="_blank" class="teams__twitter-link" title="Twitter Oficial">
                <i class="bi bi-twitter-x"></i>
              </a>
            }
          </div>

          <div class="teams__grid__card__drivers">
            @for (driver of team.pilotos; track driver.id) {
              
              <div class="teams__grid__card__drivers__pilot">
                
                <div class="teams__grid__card__drivers__pilot__visual">
                  <img [src]="driver.foto" [alt]="driver.apellidos" class="teams__grid__card__drivers__pilot__visual__img">
                </div>

                <div class="teams__grid__card__drivers__pilot__data">
                  
                  <div class="teams__grid__card__drivers__pilot__data__tv">
                    <span class="teams__grid__card__drivers__pilot__data__tv__number">{{ driver.dorsal }}</span>
                    <div class="teams__grid__card__drivers__pilot__data__tv__separator"></div>
                    <span class="teams__grid__card__drivers__pilot__data__tv__code">{{ driver.siglas }}</span>
                  </div>

                  <div class="teams__grid__card__drivers__pilot__data__name">
                    <span class="teams__grid__card__drivers__pilot__data__name__first">{{ driver.nombre }}</span>
                    <span class="teams__grid__card__drivers__pilot__data__name__last">{{ driver.apellidos }}</span>
                  </div>

                  <div class="teams__grid__card__drivers__pilot__data__meta">
                    <span class="teams__grid__card__drivers__pilot__data__country">{{ driver.pais }}</span>
                    
                    @if (driver.twitter) {
                      <a [href]="'https://x.com/' + driver.twitter" target="_blank" class="teams__twitter-link teams__twitter-link--small">
                        <i class="bi bi-twitter-x"></i>
                      </a>
                    }
                  </div>

                </div>

              </div>
            }
          </div>

        </article>
      }
    </div>
  }
</section>