// Paleta de Colores
$f1-red: #FF1801;
$f1-red-dark: #cc1300;
$dark-bg: #15151E;      
$dark-card: #1F1F27;    
$text-primary: #FFFFFF;
$text-secondary: #949498;

// Fuentes
$font-main: 'Titillium Web', sans-serif;

// Efectos
$neon-shadow: 0 0 15px rgba(255, 24, 1, 0.4);
$transition-speed: 0.3s ease;