@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  margin: 0;
  padding: 0;
  background-color: #15151E; 
  color: $c-text;
  font-family: 'Titillium Web', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #15151E;
}
::-webkit-scrollbar-thumb {
  background: #e10600;
  border-radius: 4px;
}